<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
          <div class="card">
            <div class="card-content">
              <p class="title has-text-dark">
                Tic-Tac-Socket
              </p>
              <p class="subtitle has-text-grey pb-6">
                Let's get started
              </p>
              <div class="buttons is-centered">
                <button class="button is-primary is-fullwidth is-large">Multiplayer</button>
                <button class="button is-fullwidth is-primary is-light is-large">Solo</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<router-outlet></router-outlet>-->
